* { margin: 0; padding: 0; }

#container {
	width: 1024px;
	margin: 0 auto;
	font-family: Verdana, sans-serif;
}

#content {
	margin: 0 20px;
}

header {
	overflow: hidden;
	padding: 6px 20px;
}

h1 {
	float: left;
	font-size: 26px;
	font-weight: normal;
}

header {
	background: #555;
	color: #fff;
}

header ul {
	float: right;
	margin-top: 5px;
	line-height: 1em;
	font-size: 14px;
}

header li {
	list-style: none;
	float: left;
	margin: 3px 0 0 10px;
}

header li a {
	display: block;
	padding: 3px 6px 5px;
	margin-top: -3px;	
	border-radius: 10px;
	-moz-border-radius: 10px;
	background: #fff;
	color: #555;
	text-decoration: none;
}

header li a:hover {
	color: #000;
}

.module {
	margin-top: 20px;
}

.module .head {
	background: #555;
	color: #fff;
	padding: 5px 20px;
	overflow: hidden;
}

.module .head h3 {
	float: left;
	font-size: 16px;
	font-weight: normal;
}

.module .body {
	border: 1px solid #555;
	border-top: none;
	padding: 5px 20px;
}